body{
    margin: 0;
    overflow:auto;
    width: 100%;
}
header{
    margin:auto;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.container div {
    width: 50%;
    float: left;
}
.container > div > img {
    margin: 16px 0;
}
.container > div > ul {
    float: right;
    letter-spacing: 20px;
}
.topo{
    background-color: rgb(44, 44, 44);
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.icones{
    float: right;  
    letter-spacing: 10px;
    display: block;
    width: 20%;
}
.menu{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: -4px auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid white;
}
.sobre-cx{
    display: none;
}
.cx-menu {
    width: 980px;
    margin: 0 auto;
}
.sobre{
    text-transform: uppercase;
    float: left;
    width: 600px;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
    display: inline-block;
}
li img {
    margin: 0;
}
a{
    color: rgb(83, 83, 83);
    text-decoration: none;
    padding-right: 20px;
}
a:hover{
    color:cornflowerblue;
}
form{
    float: right;
    margin-top: 11px;
}
.img-rlmt{
    margin: -53px auto;
    width: 100%;
}
main{
    color: rgb(80, 79, 79);
}
article{
    text-align: center;
    margin: 78px;
}
.content-img{
    background-color: rgb(206, 203, 203);
    padding: 15px 60px;
    overflow: auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.conteudo{
    width: 980px;
    margin: 0 auto;
}
.card{
    height: 186.333px
}
.card1, .card2{
    width: 32%; 
    float: left;
    margin-left: 1.3%;
}
.card3{
    width: 32%; 
    float: right;
}
.card{
    width: 100%;
}
.conteudo > h2 > p{
    text-align: left;
}
.marcas{
    display: block;
    padding: 20px;
    width: 97%;
}
.cx-marcas{
    width: 980px;
    margin: 0 auto;
}
.marcas > img{
    width: 15%;
}
.img1, .img2, .img3{
    margin-right: 10%;
}
.base{
    background-color: rgb(88, 88, 88);
    color: white;
    font-size: 15px;
    width: 100%;
    display: inline-block;
    margin: -5px auto;
    padding-bottom: 30px;
}
.cx-base{
    width: 980px;
    margin: 0 auto;
}
.txt1 > img{
    width: 8%;
}
.txt1 > .data{
    display: block;
    float: right;
    width: 85%;
}
.txt1, .txt2, .txt3{
    float: left;
    width: 23%;
    margin-right: 2%;
}
.txt4{
    float:right;
    width: 23%;
}
.txt4 > img{
    padding-top: 10%;
}
footer{
    width: 100%;
    display: inline-block;
    background-color: rgb(32, 32, 32);
    color: white;
}
.cx-footer{
    width: 980px;
    margin: 0 auto;
}
.cx-footer > div{
    width: 50%;
    float: left;
}
.footer-p{
    padding-top: 5px;
}
.footer-ul{
    letter-spacing: 20px;
    text-align: end;
}
/* ipad */
@media only screen and (max-width: 800px) {
    .container {
        width: 600px;
    }
    .menu{
        margin: -12px auto;
    }
    .cx-menu {
        width: 600px;
    }
    .sobre{
        display: block;
        position: relative;
        top: 4px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    .sobre a{
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }
    .sobre a:hover{
        color: cornflowerblue;
    }
    .sobre input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; 
        z-index: 2; 
        -webkit-touch-callout: none;
    }
    .sobre span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative; 
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    .sobre span:first-child{
        transform-origin: 0% 0%;
    }
    .sobre input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(0, -1px);
        background: #232323;
    }
    .sobre input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .sobre input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
    .caixa{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -100px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .caixa li{
        padding: 10px 0;
        font-size: 15px;
    }
    .sobre input:checked ~ ul{
        transform: none;
    }
    form{
        margin-top: -25px;
    }
    .img-rlmt{
        width: 100%;
        margin: -23px auto;
    }
    .content-img{
        padding: 15px 30px;
    }
    .conteudo{
        width: 700px;
    }
    .marcas {
        width: 100%;
        padding: 20px;
    }
    .cx-marcas {
        width: 475px;
        margin: 0 auto;
    }
    .img3{
        margin-left: 2%;
    }
    .img4{
        margin-left: 9%;
    }
    .cx-base {
        width: 750px;
    }
    .cx-footer {
        width: 600px;
    }
}
/* mobile */
@media only screen and (max-width: 500px) {
    body {
      background-color: rgb(230, 226, 173);
    }
  }